# general
venv
__pycache__
.DS_Store

# data
data/code-dataset/Repositories

# tests
tests/test_data
.pytest_cache

# client
tool/client/sample.py
tool/client/data
.idea/*
ENV/*
.ipynb_checkpoints/
patched-code/*
Repositories/*

# server
*.pth
flask.log
tool/server/out/*

# package
*.egg-info
build