# general
venv
__pycache__
.DS_Store

# replication
energy_plot.png
*.tex

# data
data/code-dataset/Repositories

# tests
tests/test_data
.pytest_cache

# client
from tool/patching/sample.py
from tool/patching/data
.idea/*
ENV/*
.ipynb_checkpoints/
patched-code/*
Repositories/*

# server
*.pth
flask.log
tool/measurement/out/*

# package
*.egg-info
build

tool/measurement/flickr8k/*
tool/measurement/datasets/*
tool/measurement/test_data/*