# TODO update this file once the server environment is setup
flask
Flask-HTTPAuth
requests
numpy
tensorflow
torch
torchvision
torchaudio

# optional for graphing in /energy_measurement
pandas
matplotlib
scikit-learn